---
layout: layouts/base.njk
templateClass: tmpl-home
---
<img src="/img/levy.jpeg" width=200 alt="Josh Levy with headphones">

<p>Hi. Check out my <a href="/about">About</a> page. Find me on <a rel="me" href="https://social.coop/@levy">Mastodon</a>.</ap>


{{ content | safe }}
